<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">แหล่งรวมสรุปหนังสือเสียง รีวิว สำหรับคนที่ชอบเรียนรู้</h2>
                <hr class="light">
                <p class="text-faded">เน้นเนื้อหาด้านธุรกิจ พัฒนาตนเอง และจิตวิทยา</p>
                <p class="text-faded">แบ่งปันรายได้จากการขายหนังสือให้กับนักสรุป</p> 
                <a href="#portfolio" class="btn btn-default btn-xl">ตัวอย่างผลงานของเรา</a>
            </div>
        </div>
    </div>
</section>
