<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://youtu.be/dpXb3rCKriU" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="Atomic Habits">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Atomic Habits วิธีพัฒนานิสัย จากผู็เชี่ยวชาญการปรับเปลี่ยนนิสัย 
                                				แต่งโดย  James Clear
                            </div>
                            <div class="project-name">
                                Summabook สรุปหนังสือเสียง 2020-06-05
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://youtu.be/xl41wyow9vM" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="Deep Work">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DeepWork เพิ่มประสิทธิภาพการทำงานให้ถึงขีดสุด
                                				แต่งโดย Cal Newport
                            </div>
                            <div class="project-name">
                                Summabook สรุปหนังสือเสียง 2020-06-10
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=lEjJsFLNnm8" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                				ผู้จัดการ 1 นาที
                                				แต่งโดย  Kenneth Blanchard, Spencer Johnson
                            </div>
                            <div class="project-name">
                                				อ่านแล้ว อ่านเล่า 2020-03-26
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=6VS_3KMVN50" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                				นำเสนอแบบ Ted Talk
								แต่งโดย Carmine Gallo
                            </div>
                            <div class="project-name">
                                				อ่านแล้ว อ่านเล่า 2019-12-02
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://youtu.be/5pgO69jF_4k" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Start With Why 8 - เมื่อยักษ์ใหญ่ Walmart, Microsoft, Apple, Dell, Starbucks พลาด
                            					แต่งโดย Simon Sinek
                            </div>
                            <div class="project-name">
                                Bookkery 2020-12-16
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://youtu.be/em_QOnjDQFU" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Start With Whty EP7 - How to Rally Those Who Believe
                            </div>
                            <div class="project-name">
                                Bookkery 2020-11-27
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>